# Configuration
/.env

# Data
/var/cache/volt/*.php

# IDE
/.idea

# OS
.DS_Store

# Hosting
.well-known

# Phalcon
.phalcon

# Vendor
/vendor

# Apache
/html/themes/custom/*
!/html/themes/custom/README.md

# Local files
/local
