<!-- Menu -->
<nav class="right helper">
	<ul class="menu sf-menu js-menu">
		<li>
			<a href="/">Home
				<span class="menu-label">NEW</span>
			</a>
		</li>
		<li>
			<a href="/node/view/1">Blog</a>
		</li>
		<li>
			<a href="/node/view/1">Download</a>
			<ul>
				<li>
					<a href="/node/view/1">Core</a>
				</li>
				<li>
					<a href="/node/view/1">Applications</a>
				</li>
				<li>
					<a href="/node/view/1">Templates</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="/node/view/1">Changelog</a>
		</li>
		<li>
			<a href="/node/view/1">Contacts</a>
		</li>
	</ul>
</nav>
<!-- End of Menu -->
