<!-- Menu -->
<nav class="right helper">
	<ul class="menu sf-menu js-menu">
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/blog/index">Blog<span class="menu-label">NEW</span></a>
		</li>
		<li>
			<a href="/#download">Download</a>
			<ul>
				<li>
					<a href="/#download">Core</a>
				</li>
				<li>
					<a href="/#download">Applications</a>
				</li>
				<li>
					<a href="/#download">Templates</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="/#">Changelog</a>
		</li>
		<li>
			<a href="/#">Contacts</a>
		</li>
	</ul>
</nav>
<!-- End of Menu -->
