<header>

	<!-- Header -->
	<div class="header header-over large">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-5">
					<!-- Logo Image -->
					<a href="/" title="Homepage" class="logo-image logo-animated">
						<img src="{{ template_root }}img/logo/logo.svg" alt="OCMS logo" class="logo-image">
					</a>
					<!-- End of Logo Image -->
					<!-- Languages -->
					<div class="languages  js-languages">
							<span class="language-active js-language-active">English
								<i class="fa fa-angle-down"></i>
							</span>
						<ul class="languages-list js-languages-list">
							<li>
								<a href="#">English</a>
							</li>
							<li>
								<a href="#">Español</a>
							</li>
							<li>
								<a href="#">Deutsch</a>
							</li>
							<li>
								<a href="#">Русский</a>
							</li>
							<li>
								<a href="#">Français</a>
							</li>
						</ul>
					</div>
					<!-- End of Languages -->
				</div>
				<div class="col-md-9 col-sm-6 col-xs-7">
					{{ menu | raw }}
				</div>
			</div>
		</div>
	</div>
	<!-- End of Header -->

</header>
