{% block body %}
	{{ include ('sidebar/top.html.twig') }}
	<div id="content">
		{% block content %}
			{% for blog in blogs %}
				{% include "blog-list-item.html.twig" %}
			{% endfor %}
		{% endblock %}
	</div>
	{{ include ('sidebar/left.html.twig') }}
	{{ include ('sidebar/right.html.twig') }}
	{{ include ('sidebar/bottom.html.twig') }}
{% endblock %}
