<html>
	<head>
		<title>{{ title }}</title>
		<link href="templates/default/css/default.css" rel="stylesheet" type="text/css"/>
		{{ head }}
	</head>
	<body>
		<h1>{{ title }}</h1>
		{{ body | raw }}
	</body>
</html>
