<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			{{ include ('head.html.twig') }}
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<div id="content">
				{% block content %}
					<h1 class="node-title">{{ title }}</h1>
					{{ body | raw }}
				{% endblock %}
			</div>
			{% block sidebar %}
				{{ include ('sidebar.html.twig') }}
			{% endblock %}
		{% endblock %}
		<div id="footer">
			{% block footer %}
				&copy; Copyright 2018 by <a href="https://opossum.su/" target="_blank">Opossum</a>.
			{% endblock %}
		</div>
	</body>
</html>
