<form method="post">
	<h1 class="node-title">{{ title }}</h1>
	{% if message -%}
		<div class="form-message">
			{{ message }}
		</div>
	{%- endif %}
	<div class="form-fields">
		{{ fieldsHtml | raw }}
	</div>
</form>
