<!-- Footer -->
<footer>

	<!-- Copyright -->
	<p>
		&copy; Copyright {{ "now"|date("Y") }} by <a href="{{site.copyright.url}}" target="_blank">{{site.copyright.label}}</a>.
	</p>
	<!-- End of Copyright -->

</footer>
<!-- End of Footer -->
