<!-- Footer -->
<footer>

	<!-- Copyright -->
	<p>
		&copy; Copyright 2019 by <a href="https://ocms.tech/" target="_blank">OCMS</a>.
		<!--&copy; Copyright {{copyright_year}} by <a href="{{copyright_url}}" target="_blank">{{copyright_text}}</a>.-->
	</p>
	<!-- End of Copyright -->

</footer>
<!-- End of Footer -->
