<nav class="right helper">
	<ul class="menu sf-menu js-menu">
	{% for menu in menus %}
		<li>
			<a href="{{ menu.url }}"{% if menu.current %} class="menu-current"{% endif %}>
				{{ menu.label }}
			</a>
		</li>
	{% endfor %}
	</ul>
</nav>
